/* Photo uploaded by user */
.css-1v0mbdj.etr89bj1 {
  display: block;
  margin: 0 auto;
  max-height: 700px;
  max-width: fit-content;
}

/* Loading results GIF */
.loading {
  display: block;
  margin: 0 auto;
  border-radius: 25px;  /* round the corners */
  width: 332px;
}

/* 'Get the vibe' button */
div.stButton > button:first-child {
  color: hotpink;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* 'Get the vibe' button when you hover over it*/
div.stButton > button:first-child:hover {
color: red
}

/* Results text */
.css-10trblm.e16nr0p33 {
  color: rgb(0, 0, 0);
  text-align: center;
}
